<div class="accordion-heading">
    <h3>Restart MJPG-Streamer Settings</h3>
</div>
<div class="control-group">
    <label class="control-label">Restart Service</label>
    <div class="controls">
        <button class="btn" data-bind="click: restartService">Restart</button>
    </div>
</div>
